{% extends "layout.html" %}

{% block title %}
    All Notes
{% endblock %}

{% block main %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Label</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
      {% for i in rows %}
        <tr>
          <th scope="row">{{ i["label"] }}</th>
          <td>{{ i["title"] }}</td>
          <td>{{ i["description"] }}</td>
          <td>
            <form action="/edit" method="get">
              <input name="title" type="hidden" value="{{i.title}}">
              <input type="submit" value="Edit">
            </form>
          </td>
          <td>
            <form action="/delete" method="post">
              <input name="title" type="hidden" value="{{i.title}}">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}

