{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<div class="text-center">
    <form action="/password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old-password" name="old-password" placeholder="Existing password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new-password" name="new-password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new-password-confirmation" name="new-password-confirmation" placeholder="Confirm new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
</div>
{% endblock %}