{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div>
        <table class="table">
    <thead>
        <tr>
        <th scope="col">Label</th>
        <th scope="col">Title</th>
        <th scope="col">Time</th>
        <th scope="col">Modification</th>
        </tr>
    </thead>
    <tbody>
        {% for i in rows %}
            <tr>
                <th scope="row">{{ i["label"] }}</th>
                <td>{{ i["title"] }}</td>
                <td>{{ i["time"] }}</td>
                <td>{{ i["modification"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}