{% extends "layout.html" %}

{% block title %}
    New Note
{% endblock %}

{% block main %}
    <div>
        <form action="/new" method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Label</span>
                </div>
                <input type="text" class="form-control" placeholder="Enter label" id="label" name="label">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Title</span>
                </div>
                <input type="text" class="form-control" placeholder="Enter title" name="title" id="title">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                </div>
                <textarea class="form-control" placeholder="Write here ..." id="description" name="description"></textarea>
            </div>
            <div class="mt-5 text-center">
                <button class="btn btn-primary" type="submit">Add Note</button>
            </div>
        </form>
    </div>
{% endblock %}